/* General settings */

.App {
  text-align: center;
}

body {
  height: 100vh;
  background-color: #f7e1d7;
}

h1 {
  font-size: 7vw;
  margin: 0;
}

button {
  width: 10vw;
  height: 4vw;
  margin: 3vw;
  border-radius: 10px;
  border: none;
  background-color: #dedbd2;
  font-size: larger;
}

select {
  width: 4vw;
  height: 3vw;
  font-size: large;
}

label {
  font-size: large;
}

/* Navbar */

.navbar {
  display: flex;
  flex-direction: column;
  background-color: #edafb8;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
}

.profile {
  display: flex;
}

.links {
  display: flex;
  justify-content: space-around;
  margin: 2vw 0;
}

a {
  text-decoration: none;
  color: black;
  font-size: x-large;
}

/* Endpoints page */

.endpoints {
  display: flex;
}

h4 {
  margin-left: 3vw;
}

.table-container {
  display: flex;
  justify-content: center;
}

.table {
  border-collapse: collapse;
  width: 70%;
  align-self: center;
  text-align: left;
}

.table th,
.table td {
  padding: 15px; /* Adjust the padding value as needed */
  background-color: #dedbd2;
}

.table th {
  background-color: #b0c4b1;
  text-align: left;
}

/* Article page */

.article-info {
  display: flex;
  justify-content: space-around;
}

article {
  width: 80%;
  margin: 1vw;
  padding: 1vw;
  border: solid black 2px;
  border-radius: 10px;
  background-color: #dedbd2;
}

.articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.api-endpoints {
  /* text-align: left; */
  margin-left: 5vw;
  margin-top: 3vw;
}

/* NewArticle component */

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  margin-top: 2em;
  padding: 2em;
}

form {
  height: 100%;
  display: flex;
  flex-direction: column;
}
